/*
p {
    color:red;
    font-weight: bold;
    font-size: 24px;
}*/

body{
    
}
p {
    color:red;
}

div p{
    color:blue;
}

h1 {
    color:red;
}

#first-para {
    color:yellow;
}

.first-para {
    color:black;
}

div {
    border: 4px solid red;
    background: blue;
    color:white;
    width: 100%;
    float: right;
    border-radius: 25px;
    margin-right: 200p;
    padding: 10px;
    
    
}

div ul {
    list-style-type: none;
    list-style-type: square;
}